.abouts-container {
  padding: 80px 0px;
}

.abouts-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 120%;
  color: #212121;
  margin-bottom: 60px;
}

.abouts-bottom-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 120%;
  color: #212121;
  margin-top: 100px;
}

.abouts-list {
  margin-top: 40px;
}

.abouts-item-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #212121;
}

.abouts-item{
  margin:15px 0px
}
