.rafce .container {
  padding: 120px 0px;
}

.promotion-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 120%;
  color: #212121;
  width: 780px;
  margin-bottom: 30px;
}

.promotion-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promotion-item {
  width: 360px;
  border: 1px solid #bfbdbd;
  position: relative;
  overflow: hidden;
}

.promotion-padding {
  padding: 23px 30px 80px 23px;
}

.promotion-item-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #212121;
}

.promotion-item-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #212121;
  margin-top: 16px;
}

.promotion-items-span {
  font-size: 13px;
}

.promotons-item-span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-decoration-line: line-through;
  color: #212121;
  opacity: 0.5;
  position: absolute;
  bottom: 30%;
  margin-left: 10px;
}

.promotion-item-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: #ff5900;
  text-decoration: none;
  position: absolute;
  bottom: 9%;
  right: 5%;
}
