.about .container {
  padding: 120px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-info {
  width: 628px;
}

.about-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 120%;
  color: #212121;
  margin-bottom: 50px;
}

.about-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #212121;
}

.about-image{
  width: 400px;
  padding: 45px;
  background: #F4F4F4;
}