.advantages .container {
  padding: 120px 0px;
}

.advantages-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 120%;
  color: #212121;
}

.advantages-infos {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.advantages-texts {
  width: 570px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #212121;
}

.advantages-item-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #212121;
  margin-top: 10px;
}

.advantages-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #212121;
  opacity: 0.5;
  text-decoration: none;
  margin-top: 4px;
}

.advantages-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
